# **Model Comparison**

---

In [23]:
%matplotlib inline

import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
import os
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error, make_scorer

In [24]:
os.getcwd()

'c:\\Users\\fenan\\OneDrive\\Desktop\\NETHERLANDS\\msc-data-science\\Final Thesis\\AAA-FINAL-THESIS\\src\\analysis\\baseline-models'

In [62]:
train_set = pd.read_csv('../../output/clean_train_df.csv')
test_set = pd.read_csv('../../output/clean_test_df.csv')

In [63]:
countries = list(train_set.filter(like='Country').columns)

In [64]:
top20countries = ['Country_USA', 'Country_Germany', 'Country_UK & Northern Ireland', 'Country_Canada', 'Country_France', 'Country_India',
       'Country_Spain', 'Country_Brazil', 'Country_Poland', 'Country_Australia', 'Country_Netherlands', 'Country_Italy',
       'Country_Switzerland', 'Country_Israel', 'Country_Sweden', 'Country_Austria', 'Country_Russian Federation',
       'Country_Mexico', 'Country_Denmark', 'Country_Belgium']

AI_ML_devs = ['Data scientist or machine learning specialist',
 'Engineer, data',
 'Data or business analyst',
 'Scientist']

baseline_features = AI_ML_devs + top20countries

In [65]:
baseline_pred = train_set.groupby(baseline_features)['Annual_salary'].median().reset_index()

baseline_pred

,Data scientist or machine learning specialist,"Engineer, data",Data or business analyst,Scientist,Country_USA,Country_Germany,Country_UK & Northern Ireland,Country_Canada,Country_France,Country_India,...,Country_Italy,Country_Switzerland,Country_Israel,Country_Sweden,Country_Austria,Country_Russian Federation,Country_Mexico,Country_Denmark,Country_Belgium,Annual_salary
0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27696.0
1,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,51192.0
2,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,86040.0
3,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,34369.0
4,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,54163.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,1,1,1,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,55721.5
192,1,1,1,0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,84807.0
193,1,1,1,0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79983.0
194,1,1,1,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117500.0
195,1,1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,197292.0

In [66]:
y_test = test_set['Annual_salary']
test_baseline = test_set.merge(baseline_pred, on=[baseline_features])
rmse_baseline = np.sqrt(mean_squared_error(y_test, test_baseline["Annual_salary_y"]))
r2_baseline = r2_score(y_test, test_baseline["Annual_salary_y"])

KeyError: ['Data scientist or machine learning specialist', 'Engineer, data', 'Data or business analyst', 'Scientist', 'Country_USA', 'Country_Germany', 'Country_UK & Northern Ireland', 'Country_Canada', 'Country_France', 'Country_India', 'Country_Spain', 'Country_Brazil', 'Country_Poland', 'Country_Australia', 'Country_Netherlands', 'Country_Italy', 'Country_Switzerland', 'Country_Israel', 'Country_Sweden', 'Country_Austria', 'Country_Russian Federation', 'Country_Mexico', 'Country_Denmark', 'Country_Belgium']

In [46]:
rmse_baseline, r2_baseline

(51737.5281930765, -0.09012671083862411)

In [55]:
# Asegurándonos de que las columnas que indican la profesión son booleanas (0 o 1)
train_set[AI_ML_devs] = train_set[AI_ML_devs].astype(bool)

# Calculando la mediana del salario anual para las profesiones en AI_ML_devs en el conjunto de entrenamiento
medians = train_set.loc[train_set[AI_ML_devs].any(axis=1), 'Annual_salary'].median()

# Creando una columna de predicciones baseline en el conjunto de prueba, usando la mediana calculada
test_set['baseline_prediction'] = np.where(test_set[AI_ML_devs].any(axis=1), medians, np.nan)

# Asegurándonos de que todas las filas tienen una predicción
assert not test_set['baseline_prediction'].isna().any()

# Calculando RMSE y R2 para las predicciones baseline
rmse_baseline = np.sqrt(mean_squared_error(test_set['Annual_salary'], test_set['baseline_prediction']))
r2_baseline = r2_score(test_set['Annual_salary'], test_set['baseline_prediction'])

rmse_baseline, r2_baseline

(50303.95787422631, -0.030552073899572374)

In [ ]:
'''results = pd.DataFrame({
    'Model': ['LightGBM Train',
              'LightGBM Test', 'Baseline'],
    'Log Loss': [
                logloss_train_lgbm,
                logloss_test_lgbm, logloss_baseline]
})
test_vs_baseline = 100 - ((logloss_test_lgbm * 100) / logloss_baseline)
message = f"In test set, lightGBM\'s log loss error is {test_vs_baseline:.2f} % less than the baseline\'s"
print('#'* len(message) + '\n' + message + '\n'+ '#'* len(message))
sns.barplot(x="Model", y="Log Loss", data=results)
plt.grid(True, axis='y')
# plt.ylim(0, 0.0002)
plt.title('Model vs Baseline (log loss)', fontsize = 15, weight = 'bold')
plt.show()'''